@font-face {
    font-family: "odinwriting";
    src: 
        url("fonts/norse-bold-webfont.woff2") format("woff2"),
        url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.leftContainer {
    position: relative;
    display: flex;
    flex: 5 8 auto;
    flex-direction: column;
    max-width: 38%;
    background-image: url("./images/olena-sergienko-r0M9HrfJMBM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.odinLogoContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20%;
    width: 100%;
    height: 20%;
}

.odinLogoContainer > img {
    position: relative;
    top: 10%;
    height: 80%;
}

.odinLogoContainer > span {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font: calc((7vw + 7vw) / 2) "odinwriting", sans-serif;
    color: white;
    margin-left: 5px;
}

.leftContainer > p {
    position: absolute;
    bottom: 0%;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    line-height: 2em;
    background-color: rgba(11, 117, 1, 0.7);
}

.rightContainer {
    display: flex;
    flex: 8 5 auto;
    max-width: 62%;
    flex-direction: column;
}

.firstRow {
    display: flex;
    flex: 1 1 33%;
    flex-direction: column;
    padding: 8% 20% 3% 5%;
    background-color: rgba(235, 233, 233, 0.2);
    justify-content: end;

    font: Helvetica, sans-serif;
    font-size: calc(13px + 1vw/2 + 1vh);;
    font-weight: 525;
}

.firstRow > p:nth-child(2) {
    margin: 0 0 4% 0;
}

.secondRow {
    display: flex;
    flex: 1 1 29%;
    padding: 2% 0 2% 5%;
    background-color: white;
    box-shadow: 3px black;
}

.thirdRow {
    display: flex;
    flex: 1 1 33%;
    flex-direction: column;
    background-color: rgba(235, 233, 233, 0.2);
    padding: 2% 0 0 5%;
}

.thirdRow > button {
    color: white;
    font-weight: bold;
    width: 260px;
    height: 55px;
    background-color: #596D48;
    border-radius: 10px;
    font-size: calc(6px + 1vw/2 + 1vh/3);
}

.thirdRow > p {
    padding-top: 10px;
    font-size: calc(8px + 1vw/2 + 1vh/3);
}

a {
    color:#596D48;
    font-weight: bold;
    text-decoration: none;
}

.formRow {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.formCol {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

form > legend {
    padding: 4% 0 2% 0;
    font-size: calc(10px + 1vw/2 + 1vh);
    font-weight: 525;
}

input {
    font: 1em, sans-serif;
    border: 1px solid #E5E7EB;
    height: 2em;
    padding-left: 5px;
}

input:focus {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.295);
}

label {
    display: inline-block;
    width: 300px;
    text-align: left;
    font-size: calc(7px + 1vw/4 + 1vh/2);
}

#passCheckText {
    visibility: hidden;
    padding: 0;
    margin: 0;
    font-size: calc(6px + 1vw/5 + 1vh/3);
    color: red;
}

.invalidPass {
    border: 2px solid red;
    border-radius: 5px;
}

.validPass {
    border: 2px solid green;
    border-radius: 5px;
}
/* arrow removal from phone number input area */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}